# macOS
.DS_Store

# IntelliJ IDEA
.idea/
**/.idea/
*.iml

# Build folders
**/target/

# Node modules
**/node_modules/

# Environment / Secrets
crm-backend/src/main/resources/application.properties

crm-frontend/.env